<div class="pad-2">
  <div class="row">
    <div class="col s12 m8 l8 offset-l1">
      <div class="card panel pad-2">
        <h4 class="flow-text pad-b-1">New Pet</h4>
          <%= render 'form' %>

      </div>
    </div>
  </div>
</div>
