<% if @events_past_as_sitter && @events_past_as_sitter.any? %>
    <% @events_past_as_sitter.each do |sitter_event| %>
      <% if sitter_event.reviews.any? %>
    <ul>
    <% @events_past_as_sitter.each do |event| %>
      <li><strong><%= event.owner.first_name %> <%= event.owner.last_name %></strong></li>
      <li>Owner email: <%= event.owner.email %></li>
      <% event.owner_reviews.each do |review| %>
        <li><%= review.body %></li>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  <% end %>
<% end %>
