<div class="row">
  <div class="s8 offset-1">
    <h4 class="flow-text">
      Hello <i><b><%= current_user.first_name%></b></i>, would you like to host a pet?
    </h4>
  </div>
</div>
<%= render 'form' %>
